* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --gray-color: #333;
    --white-color: #fff;
    --principal-font: "Arial", sans-serif;
}


body {
    height: 100vh;
    background-color: var(--gray-color);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--principal-font);
}

.container {
    width: 40%;
    height: 60%;
    padding: 16px;
    background-color: var(--white-color);
    border-radius: 20px;
}

.container form {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

input {
    padding-left: 8px;
    height: 44px;
    width: 80%;
    color: var(--gray-color);
    border: 1px solid var(--gray-color);
    border-radius: 8px;
    font-size: 16px;
}

button {
    height: 44px;
    width: 80%;
    background-color: var(--gray-color);
    color: var(--white-color);
    border: none;
    text-align: center;
    border-radius: 8px;
    font-size: 18px;
}
